html{
	min-height: 100%;
}

body{
	background: rgb(0,234,255);
	background: radial-gradient(circle, rgba(0,234,255,1) 0%, rgba(16,0,126,1) 100%);
}

{
	box-sizing: border-box;
}

article{
	display: inline-block;
	width: 90%;
	height: 100%;
	vertical-align: top;
	text-align: center;
	background-color: #eee;
}
article .front {
	
}





























