.hidden{
	display: none;
}

.portfolio ul,
.portfolio li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.portfolio li{
	display: inline-block;
	width: 200px;
}
.portfolio img{
	max-width: 100%;
}





























