      html{
        min-height: 100%;
      }

      body{
        background: rgb(237,0,255);
        background: linear-gradient(0deg, rgba(237,0,255,0.9878326330532213) 0%, rgba(0,247,255,1) 100%);
      }

      body .center{
      padding: 10px 0;
      text-align: center;
      }      

      footer .text{
        padding: 10px 0;
        text-align: left; 
        animation: ks 2s;
      }

      {
        box-sizing: border-box;
      }

      article {
        display: inline-block;
        width: 20%;
        height: 300px;
        padding: 15px;
        vertical-align: top;
        text-align: center;
      }

      article .poster{
        width: 100%;
        height: 50%;
        overflow: hidden;
        background-color: #eee;
        animation: cs 1s ;
      }

      .poster:hover{
        animation-play-state: running;
      }

      /*poster keyframe*/
      @keyframes cs{
        0%{
          transform: scale(1);
        }
        50%{
          transform: scale(1.2);
        }
        100%{
          transform: scale(1);
        }
      }

      /*text keyframe*/
      @keyframes ks{
        0%{
          transform: color(blue);
        }
        100%{
          transform: color(green);
        }
      }

      article .poster img{
        max-width: 100%;
      }

      article .desc {
        background-color: #ffffff;
        height: 50%;
      }

      footer .footer{
      padding: 10px 0;
      text-align: left;
      }

      /*появлення з сірого кольору при наводі на данний елемент
      .test{
        background: rgba(120, 120, 120, 1) none repeat scroll 0 0; 
        display: inline-block;
        height: 300px;
        margin: 100px;
        transition: background 1s ease 0s;
        width: 400px;
      }*/























